# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html

# Project-specific files ----
analysis/data/
output/
share/
report/docs/
comm_webinaire.Rmd

# Data-specific files that cannot be shared ----
analysis/data/cv/habitats/alevinage/alevinage_mffp/
analysis/data/cv/habitats/frayere/frayere_mffp/
analysis/data/cv/habitats/espece_statut/espece_statut_mffp/
analysis/data/stresseurs/deversements/deversement_gcc/20210223_Demande_UL.csv
analysis/data/stresseurs/deversements/deversement_gcc/20210223_Demande_UL.xlsx

# R data ---- delete this list
data/cv_berge.RData
data/cv_hab_alevinage.RData
data/cv_hab_benthique.RData
data/cv_hab_cote.RData
data/cv_hab_espece_statut.RData
data/cv_hab_frayere.RData
data/cv_hab_marais.RData
data/cv_hab_milieu_humide.RData
data/cv_hab_milieu_sableux.RData
data/cv_hab_zone_inondable.RData
data/cv_hab_zostere.RData
data/cv_ste_peche.RData
data/cv_ste_saumon.RData
data/str_ancrage.RData
data/str_deversement.RData
data/str_navigation.RData
data/str_peche_commerciale.RData


# Data ----
data/data-raw/data*
data/data-format/*.geojson
data/data-format/*.csv
data/data-format/*.tif
data/data-integrated/*.geojson
data/data-integrated/*.csv
data/data-integrated/*.tif
data/data-basemap/*.geojson
data/data-output/*.geojson
data/data-output/*.csv
data/data-output/cea_stresseur
data/data-output/cea_composante_valorisee

# Figures ----
figures/figures-format/data*
report/figures/figures-format/
figures/figures-integrated/*.png
figures/figures-output/*.png
figures/figures-vulnerability/*.png

clean/
report/contenu/notes/
literature/
docs
pkgdown/
_bookdown2.yml
review/