# macOS files ----
.DS_Store

# History files ----
.Rhistory
.Rapp.history

# Session Data files ----
.RData
.Ruserdata

# RStudio files ----
*.Rproj
.Rproj.user/

# R Environment Variables ----
.Renviron

# User-specific files ----
README.html

# Project-specific files ----
analysis/data/
output/
share/
report/docs/
comm_webinaire.Rmd

# Data-specific files and figures that cannot be shared ----
analysis/data/cv/habitats/alevinage/alevinage_mffp/
analysis/data/cv/habitats/frayere/frayere_mffp/
analysis/data/cv/habitats/espece_statut/espece_statut_mffp/
analysis/data/stresseurs/deversements/deversement_gcc/20210223_Demande_UL.csv
analysis/data/stresseurs/deversements/deversement_gcc/20210223_Demande_UL.xlsx
report/figures/figures-integrated/site-kahnawake*


# Data ----
data/data-raw/data*
data/data-format/*.geojson
data/data-format/*.csv
data/data-format/*.tif
data/data-integrated/*.geojson
data/data-integrated/*.csv
data/data-integrated/*.tif
data/data-basemap/*.geojson
data/data-output/*.geojson
data/data-output/*.csv
data/data-output/cea_stresseur
data/data-output/cea_composante_valorisee

## Exceptions ----
!data/data-raw/data0063*
!data/data-raw/data0064*
!data/data-format/data0063*
!data/data-format/data0064*

# Figures ----
figures/figures-format/data*
report/figures/figures-format/
figures/figures-integrated/*.png
figures/figures-output/*.png
figures/figures-vulnerability/*.png
figures/figures-exploration
report/figures/figures-exploration/

clean/
report/contenu/notes/
literature/
docs
pkgdown/
_bookdown2.yml
review/
report_fr/beauchesne_et_al-ceanav-traduction*